[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
twine = "*"
mypy-lang = "*"
mypy = "*"
pytest = "*"
kubetest = "*"

[packages]
kubernetes = "==11.0"
dpath = "*"

[requires]
python_version = "3.8"
